# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries used by Data Scientists
- Few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are: 
- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include: 
- NumPy
- Pandas
- Matplotlib
- Scikit-Learn
- TensorFlow

| Data Science Tools               |
|----------------------------------|
| Jupyter Notebook                 |
| RStudio                          |
| Apache Zeppelin                  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
## This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print (hours)

3.3333333333333335